/* 페이지 내 공통 엘리먼트 */
:root {
 --icon-size: 15px;
 --icon-y--black: 0;
 --icon-y--white: -15px;
 --sprite-size: 312.5px;
 --coding: 2px dashed #999;
 --container-size: 1280px;
 --gnb-pc-header-height: 90px;
}

.with-link--black::after,
.with-link--white::after,
.arrow-down--white::after,
.arrow-up--white::after,
.arrow-down--black::after,
.arrow-up--black::after,
.arrow-right--black::after {
 margin-left: 5px;
 vertical-align: middle;
 content: "";
 display: inline-block;
 width: var(--icon-size);
 height: var(--icon-size);
 background-size: var(--sprite-size);
 background-image: url(../icons/page2-icons.png);
 opacity: 50%;
}

.with-link--white::after {
 background-position-x: calc((var(--icon-size)*-1));
 background-position-y: var(--icon-y--white);
}

.with-link--black::after {
 background-position-x: calc((var(--icon-size)*-1));
 background-position-y: var(--icon-y--black);
}

.arrow-down--white::after {
 background-position-x: calc((var(--icon-size)*0));
 background-position-y: var(--icon-y--white);
}

.arrow-up--white::after {
 rotate: 180deg;
 background-position-x: calc((var(--icon-size)*0));
 background-position-y: var(--icon-y--white);
}

.arrow-down--black::after {
 background-position-x: calc((var(--icon-size)*0));
 background-position-y: var(--icon-y--black);
}

.arrow-up--black::after {
 rotate: 180deg;
 background-position-x: calc((var(--icon-size)*0));
 background-position-y: var(--icon-y--black);
}

.arrow-right--black::after {
 rotate: 270deg;
 background-position-x: calc((var(--icon-size)*0));
 background-position-y: var(--icon-y--black);
}

.pc-only {
 display: none !important;
}

.mo-hide {
 display: none !important;
}

.border-gray--bottom {
 border-bottom: 1px solid #EBEBEB;
}

.border-gray--top {
 border-top: 1px solid #EBEBEB;
}

body {
 position: relative;
}

body.body--fixed {
 overflow: hidden;
}

/* .hidden {
 display: none !important;
} */

#modal-bg {
 position: absolute;
 width: 100%;
 height: 100%;
 background-color: #00000050;
 clear: both;
 display: none;
}

#modal-bg.active {
 display: block;
}



/* 모바일 */
.top-bar {
 background-color: #666;
}

.top-bar-cont {
 padding: 8px;
 margin: 0 auto;
 color: #FFF;
 font-weight: bold;
 max-width: var(--container-size);
 width: 100vw;
}

header {
 background-color: #FFF;
 z-index: 3;
 /* width: 100vw; */
 position: relative;
}

header > .header-cont {
 padding: 1rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.header-cont > a.logo {
 font-size: 2rem;
 font-weight: bold;
}

.header-cont > .header__btn > button > i,
.header-cont > .header__btn > ul > li > button > i {
 font-size: 1.5rem;
}

.header-cont > .header__btn--left {
 order: -1;
}

/* 모바일 gnb */
.container > .gnb-mo {
 position: absolute;
 top: 0; left: 0;
 background-color: white;
 width: 100vw;
 height: 100vh;
 z-index: 4;
 display: none;
 overflow-y: scroll;
}

.container > .gnb-mo.active {
 display: block;
}

.container > .gnb-mo i {
 margin-right: 1rem;
 vertical-align: middle;
}

.container > .gnb-mo > .gnb-mo__top {
 display: flex;
 justify-content: space-between;
 padding: 0.5rem 0;
 font-size: 1.3rem;
 margin: 1rem;
}

.container > .gnb-mo > .gnb-mo__top > a > i,
.container > .gnb-mo > .gnb-mo__top > button {
 font-size: 1.6rem;
}

.container > .gnb-mo > .gnb-mo__top > button > i {
 margin: 0;
}

.container > .gnb-mo > .gnb-mo__top > a {
 font-weight: normal;
}
.container > .gnb-mo > .gnb-mo__verify {
 background-color: #f6f6f6;
 border-radius: 0.5rem;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 margin: 1rem;
}

.container > .gnb-mo > .gnb-mo__verify > button {
 padding: 1rem;
 font-size: 1.3rem;;
}

.container > .gnb-mo > .gnb-mo__list {
 margin: 1rem;
}

.container > .gnb-mo > .gnb-mo__list > ul > li > .gnb-1dth {
 font-size: 1.4rem;
 font-weight: bold;
 padding: 1rem 0;
 text-align: left;
 width: 100%;
 display: grid;
 grid-template-columns: 1.5rem 1fr 1.5rem;
 justify-content: center;
 align-items: center;
 gap: 1rem;
}

.container > .gnb-mo > .gnb-mo__list > ul > li > .gnb-1dth > i {
 margin: 0;
 text-align: center;
}

.container > .gnb-mo > .gnb-mo__list > ul > li > .gnb-2dth {
 display: none;
}

.container > .gnb-mo > .gnb-mo__list > ul > li > .gnb-2dth.active {
 display: block;
}

.container > .gnb-mo > .gnb-mo__list > ul > li > .gnb-2dth > li > a {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 1rem 1.3rem;
 font-size: 1.3rem;
 font-weight: bold;
}

.container > .gnb-mo > .gnb-mo__list > ul > li > .gnb-2dth > li > .gnb-3dth {
 display: none;
 margin: 0 1rem;
 padding: 0.5rem 0;
 background-color: #f6f6f6;
 border-radius: 0.5rem;
}

.container > .gnb-mo > .gnb-mo__list > ul > li > .gnb-2dth > li > .gnb-3dth.active {
 display: block;
}

.container > .gnb-mo > .gnb-mo__list > ul > li > .gnb-2dth > li > .gnb-3dth > li > a {
 /* display: none; */
 background-color: #f6f6f6;
 padding: 0.5rem 2rem;
 display: block;
 font-size: 1.2rem;
}

.container > .gnb-mo > .gnb-bottom {
 display: block;
 margin: 2rem 0;
 background-color: #f6f6f6;
 font-size: 1.3rem;
}

.container > .gnb-mo > .gnb-bottom > ul > li > a {
 display: flex;
 justify-content: space-between;
}

.container > .gnb-mo > .gnb-bottom > ul > li > a {
 margin: 0 1rem;
 padding: 1rem 0;
}

main {
margin: 2rem 1rem;
background-color: #EFEFEF;
border-radius: 1rem;
padding: 30rem 0;
max-width: var(--container-size);
font-family: inherit;
text-align: center;
font-size: 1.5rem;
color: #BBB;
}

.header__btn--right > ul > li > section {
 display: none;
}






/* PC */
@media (min-width: 1280px) {
 .pc-only {
  display: inline-block !important;
 }
 
 .mo-only {
  display: none !important;
 }

 .top-bar-cont > nav {
  display: flex;
  justify-content: space-between;
 }

 .check-mo {
  display: initial !important;
 }

 .container-page {
  padding: 0;
  position: inherit;
  z-index: 3;
  height: 100%;
 }

 .container-page > header {
  margin: 0 auto;
 }
 
 /* 탑 메뉴 */
 .container-page > .top-bar > .top-bar-cont {
  padding: 8px;
  margin: 0 auto;
  color: #FFF;
  font-weight: bold;
  max-width: var(--container-size);
  display: flex;
  justify-content: space-between;
  width: 100%;
 }

 .top-bar > .top-bar-cont > nav > ul {
   display: flex;
   vertical-align: middle;
  }

 .top-bar button,
 .top-bar a {
  color: white;
  vertical-align: middle;
  font-size: 0.9rem;
 }

.top-bar > .top-bar-cont > nav > ul > li::after {
  content: "|" ;
  margin: 0 8px;
  color: #999;
 }
 
.top-bar > .top-bar-cont > nav > ul > li:last-child::after {
  content: "";
  margin: 0;
 }
 
 .top-bar > .top-bar-cont > nav > ul > li {
  position: relative;
  font-size: 0.9rem;
  vertical-align: middle;
 }
 
 .top-bar > .top-bar-cont > nav > ul > li > ul.top-bar__list__lang {
  background-color: #FFF;
  color: #333;
  position: absolute;
  left: -33px;
  top: 1.5rem;
  z-index: 5;
  color: #333;
  border-radius: 0.3rem;
  border: 1px solid #EBEBEB;
  display: none;
 }

 .top-bar > .top-bar-cont > nav > ul > li > ul.top-bar__list__lang.active {
  display: block;
 } 

 .top-bar > .top-bar-cont > nav > ul > li > ul.top-bar__list__lang > li > a {
  color: #333;
  display: block;
  overflow: hidden;
  padding: 0.3rem 1rem;
 }
 
 .top-bar > .top-bar-cont > nav > ul > li > ul.top-bar__list__lang > li:first-child > a {
  margin-top: 0.4rem;
 }

 .top-bar > .top-bar-cont > nav > ul > li > ul.top-bar__list__lang > li:last-child > a {
  margin-bottom: 0.3rem;
 }
 
 .top-bar > .top-bar-cont > nav > ul > li > ul.top-bar__list__lang > li > a:hover {
  background-color: #EBEBEB;
  text-decoration: none;
 }

 .top-bar__list__zoom-button {
  padding-left: 3px;
 }
 
 .top-bar__list__zoom-button > button:nth-child(1),
 .top-bar__list__zoom-button > button:nth-child(3) {
  width: var(--icon-size);
  height: var(--icon-size);
  background-image: url(../icons/page2-icons.png);
  background-size: var(--sprite-size);
  padding: 0;
  margin: 0;
  opacity: 50%;
 }
 
 .top-bar__list__zoom-button > button:nth-child(1) {
  background-position-x: calc((var(--icon-size)*-3));
  background-position-y: var(--icon-y--white);
 }
 
 .top-bar__list__zoom-button > button:nth-child(3) {
  background-position-x: calc((var(--icon-size)*-2));
  background-position-y: var(--icon-y--white);
 }

 .top-bar__list__zoom-button > button:nth-child(2) {
  padding: 0;
 }

  .container-page > .top-bar a.top-bar__list:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
 }
 
 .container-page > header {
  width: 100%;
 }

 .container-page > header.sticky {
  position: fixed;
  top: 0;
  box-shadow: #CCC 0 5px 10px;
 }
 
 .container-page > header > .header-cont,
  .container-page > .gnb-pc-all > header > .header-cont {
  margin: auto;
  padding: 0 1rem;
  max-width: var(--container-size);
 }
 
 .header-cont > .header__btn--right > .gnb__open > .gnb__open-contents,
 .gnb-pc-cont > .gnb-pc > ul > li > .gnb__open > .gnb__open-contents
 {
  max-width: var(--container-size);
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(200px, 20%) 1fr;
 }

 .gnb-pc-cont > .gnb-pc > ul > li > .gnb__open,
 .header-cont .header__btn--right > ul > li > .gnb__open {
  position: absolute;
  right: 0;  left: 0;
  height: auto;
  padding: 3rem 5rem;
  background-color: #FFF;
  display: none;
 }

 .gnb-pc-cont > .gnb-pc > ul > li > .gnb__bg {
  display: none;
 }

 .header-cont > .header__btn--left {
  display: none;
 }

 .header-cont > .header__btn--right > ul {
  display: flex;
 }

 .header-cont > .header__btn--right > ul > li:first-child > button {
  margin-right: 1rem;
 }
 
 .gnb-pc-cont > .gnb-pc > ul {
  display: flex;
  gap: 20px;
 }
 
 .gnb-pc-cont > .gnb-pc > ul > li > .gnb-pc__child {
  padding: 2.5rem 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 3px solid #FFF;
 }
 
 #header > .header-cont > .header__btn--right > ul > li > button {
  padding: 2.5rem 0;
 }
 
 #header.sticky > .header-cont > .gnb-pc-cont > .gnb-pc > ul > li > .gnb-pc__child {
  padding: 1.5rem 1rem;
  font-size: 1.1rem;
 }
 
 #header.sticky > .header-cont > .header__btn--right > ul > li > button {
  padding: 1.5rem 0;
 }

 .gnb-pc-cont > .gnb-pc > ul > li > .gnb-pc__child:hover {
  font-weight: bolder;
 }
 
 .gnb-pc-cont > .gnb-pc > ul > li.active > .gnb-pc__child {
  font-weight: bolder;
  border-bottom: 3px solid #333;
 }
 

 .gnb-pc-cont > .gnb-pc > ul > li.active > .gnb-pc__child + section,
 .header__btn--right > ul > li.active > .gnb__open {
  display: flex;
  justify-content: center;
 }
 
 .gnb-pc-cont > .gnb-pc > ul > li > .gnb__open > .gnb__open-contents > .gnb__open__intro {
  text-align: center;
  height: fit-content;
 }

  .gnb-pc-cont > .gnb-pc > ul > li > .gnb__open > .gnb__open-contents > .gnb__open__intro > div {
  font-size: 5rem;
  padding: 1rem 0;
 }
 
 .gnb-pc-cont > .gnb-pc > ul > li > .gnb__open > .gnb__open-contents > .gnb__open__intro > .gnb__open__desc > dt {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
 }
 
 .gnb-pc-cont > .gnb-pc > ul > li > .gnb__open > .gnb__open-contents > .gnb__open__intro > .gnb__open__desc > dd {
  font-weight: lighter;
 }
 
 .gnb-pc-cont > .gnb-pc > ul > li > .gnb__open > .gnb__open-contents > .gnb__2depth {
  padding-left: 5rem;
 }
 
 .gnb-pc-cont > .gnb-pc > ul > li > .gnb__open > .gnb__open-contents > .gnb__2depth > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem 3rem;
 }
 
 .gnb-pc-cont > .gnb-pc > ul > li > .gnb__open > .gnb__open-contents > .gnb__2depth > ul > li > .gnb__2depth-title {
  text-align: left;
  padding: 1rem 0;
  width: 100%;
  font-weight: bold;
  font-size: 1.3rem;
  border-bottom: 1px solid #EBEBEB;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 
 .gnb-pc-cont > .gnb-pc > ul > li > .gnb__open > .gnb__open-contents > .gnb__2depth > ul > li > .gnb__2depth-title.arrow-down-black::after {
  margin-left: 1rem;
 }
 
 .gnb-pc-cont > .gnb-pc > ul > li > .gnb__open > .gnb__open-contents > .gnb__2depth > ul > li > .gnb__2depth-desc {
  font-weight: lighter;
  font-size: small;
  padding: 1rem 0;
  color: #666;
  line-height: 1.5;
 }



 .gnb__open-contents > .gnb__search {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 3rem;
 }
 
 .gnb__search > form {
  border: 2px solid #333;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
 }
 
 .gnb__search > form > input {
  border: none;
  padding: 1rem 0 1rem 1rem;
  font-size: 1.3rem;
  min-width: 500px;
 }
 
 .gnb__search > form > input:focus {
  outline: none;
 }
 
 .gnb__search > form > button {
 padding: 1rem 1rem 1rem 0;
 }

 .gnb__open-contents > .rankings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 }
 
 .gnb__open-contents > .rankings > div > p {
  font-weight: bolder;
  font-size: 1.3rem;
  margin-bottom: 1rem;
 }
 
 .gnb__open-contents > .rankings > div > ol {
  display: grid;
  gap: 0.5rem;
  counter-reset: ranking-counter;
 }
 
 .gnb__open-contents > .rankings > div > ol > li{
  counter-increment: ranking-counter;
  display: flex;
  align-items: center;
 }

 .gnb__open-contents > .rankings > div > ol > li::before {
  margin-right: 1rem;
  color: #FFF;
  background-color: #AAA;
  content: counter(ranking-counter);
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 .gnb__open-contents > .rankings > div > ol > li:nth-child(-n+3):before {
  background-color: #333;
 }

 div.gnb__btn-group {
  order: 0;
 }
 
 div.gnb__btn-group > button {
  font-size: 1.5rem;
  padding: 1rem;
 }

.container > .gnb-pc-all {
 position: absolute; top: 0; left: 0;
 background-color: white;
 width: 100vw;
 height: 100%;
 z-index: 4;
 display: none;
}

.container > .gnb-pc-all.active {
 display: block !important;
 overflow: hidden;
 height: 100%;
}

.gnb-pc-all.active > header {
 height: var(--gnb-pc-header-height);
}

.gnb-pc-all.active > header > .header-cont > p {
 padding: 2.5rem 1rem;
 font-weight: bold;
 font-size: 1.2rem;
}

.gnb-pc-all.active > .gnb-pc-all__list > ul {
 overflow-y: scroll;
 height: calc(100% - var(--gnb-pc-header-height));
}

.gnb-pc-all.active > .gnb-pc-all__list > ul > li:last-child {
 padding-bottom: 5rem;
}

.gnb-pc-all.active > .gnb-pc-all__list > ul > li > section {
 display: flex;
 padding: 2rem;
 width: var(--container-size);
 max-width: var(--container-size);
 margin: 0 auto;
}

.gnb-pc-all.active > .gnb-pc-all__list > ul > li > section > h1 {
 font-size: 1.5rem;
 width: 25%;
}

.gnb-pc-all.active > .gnb-pc-all__list > ul > li > section > ul {
 width: 100%;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 2.5rem 0;
 }

.gnb-pc-all.active > .gnb-pc-all__list > ul > li > section > ul > li > h2 {
 font-size: 1.2rem;
}

.gnb-pc-all.active > .gnb-pc-all__list > ul > li > section > ul > li > ul > li {
 font-size: 1.1rem;
 margin: 0.8rem 0;
}

.gnb-pc-all.active > .gnb-pc-all__list > ul > li > section > ul > li > h2:hover,
.gnb-pc-all.active > .gnb-pc-all__list > ul > li > section > ul > li > ul > li:hover {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 5px;
 }


 
 main {
  margin: 2rem auto;
 }
}