/* 페이지 내 공통 엘리먼트 */
:root {
 --icon-size: 15px;
 --icon-y--black: 0;
 --icon-y--white: -15px;
 --sprite-size: 312.5px;
 --coding: 2px dashed #999;
 --container-size: 1280px;
}

.hidden {
 display: none !important;
}

.with-link--black::after,
.with-link--white::after,
.arrow-down--white::after,
.arrow-up--white::after,
.arrow-down--black::after,
.arrow-up--black::after,
.arrow-right--black::after {
 margin-left: 5px;
 vertical-align: middle;
 content: "";
 display: inline-block;
 width: var(--icon-size);
 height: var(--icon-size);
 background-size: var(--sprite-size);
 background-image: url(../icons/page2-icons.png);
 opacity: 50%;
}

.with-link--white::after {
 background-position-x: calc((var(--icon-size)*-1));
 background-position-y: var(--icon-y--white);
}

.with-link--black::after {
 background-position-x: calc((var(--icon-size)*-1));
 background-position-y: var(--icon-y--black);
}

.arrow-down--white::after {
 background-position-x: calc((var(--icon-size)*0));
 background-position-y: var(--icon-y--white);
}

.arrow-up--white::after {
 rotate: 180deg;
 background-position-x: calc((var(--icon-size)*0));
 background-position-y: var(--icon-y--white);
}

.arrow-down--black::after {
 background-position-x: calc((var(--icon-size)*0));
 background-position-y: var(--icon-y--black);
}

.arrow-up--black::after {
 rotate: 180deg;
 background-position-x: calc((var(--icon-size)*0));
 background-position-y: var(--icon-y--black);
}

.arrow-right--black::after {
 rotate: 270deg;
 background-position-x: calc((var(--icon-size)*0));
 background-position-y: var(--icon-y--black);
}

.pc-only {
 display: none !important;
}

.border-gray--bottom {
 border-bottom: 1px solid #EBEBEB;
}


/* 모바일 */
body.body--fixed {
 overflow: hidden;
}

.top-bar {
 background-color: #666;
}

.top-bar-cont {
 padding: 8px;
 margin: 0 auto;
 color: #FFF;
 font-weight: bold;
 max-width: var(--container-size);
 width: 100vw;
}

header {
 background-color: #FFF;
 font-weight: bold;
 z-index: 3;
 width: 100vw;
 position: relative;
}

header > .header-cont {
 padding: 1rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.header-cont > a.logo {
font-size: 2rem;
}

.header-cont > .header__btn > button {
 font-size: 1.5rem;
}

.header-cont > .header__btn--left {
 order: -1;
}

/* 모바일 gnb */
.gnb-cont-mo > .gnb-mo {
 position: absolute;
 top: 0; left: 0;
 background-color: white;
 width: 100vw;
 height: 100vh;
 z-index: 4;
 display: none;
 overflow-y: scroll;
}

.gnb-cont-mo > .gnb-mo.open {
 display: block;
}

.gnb-cont-mo > .gnb-mo i {
 margin-right: 1rem;
 vertical-align: middle;
}

.gnb-cont-mo > .gnb-mo > .gnb-mo__top {
 display: flex;
 justify-content: space-between;
 padding: 0.5rem 0;
 font-size: 1.3rem;
 margin: 1rem;
}

.gnb-cont-mo > .gnb-mo > .gnb-mo__top > a > i,
.gnb-cont-mo > .gnb-mo > .gnb-mo__top > button {
 font-size: 1.6rem;
}

.gnb-cont-mo > .gnb-mo > .gnb-mo__top > button > i {
 margin: 0;
}

.gnb-cont-mo > .gnb-mo > .gnb-mo__top > a {
 font-weight: normal;
}
.gnb-cont-mo > .gnb-mo > .gnb-mo__verify {
 background-color: #f6f6f6;
 border-radius: 0.5rem;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 margin: 1rem;
}

.gnb-cont-mo > .gnb-mo > .gnb-mo__verify > button {
 padding: 1rem;
 font-size: 1.3rem;;
}

.gnb-cont-mo > .gnb-mo > .gnb-mo__list {
 margin: 1rem;
}

.gnb-cont-mo > .gnb-mo > .gnb-mo__list > ul > li > .gnb-1dth {
 font-size: 1.4rem;
 font-weight: bold;
 padding: 1rem 0;
 text-align: left;
 width: 100%;
 display: grid;
 grid-template-columns: 1.5rem 1fr 1.5rem;
 justify-content: center;
 align-items: center;
 gap: 1rem;
}

.gnb-cont-mo > .gnb-mo > .gnb-mo__list > ul > li > .gnb-1dth > i {
 margin: 0;
 text-align: center;
}

.gnb-cont-mo > .gnb-mo > .gnb-mo__list > ul > li > .gnb-2dth {
 display: none;
}

.active {
 display: block !important;
}

.gnb-cont-mo > .gnb-mo > .gnb-mo__list > ul > li > .gnb-2dth > li > a {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 1rem 1.3rem;
 font-size: 1.3rem;
 font-weight: bold;
}

.gnb-cont-mo > .gnb-mo > .gnb-mo__list > ul > li > .gnb-2dth > li > .gnb-3dth {
 display: none;
 margin: 0 1rem;
 padding: 0.5rem 0;
 background-color: #f6f6f6;
 border-radius: 0.5rem;
}

.gnb-cont-mo > .gnb-mo > .gnb-mo__list > ul > li > .gnb-2dth > li > .gnb-3dth > li > a {
 /* display: none; */
 background-color: #f6f6f6;
 padding: 0.5rem 2rem;
 display: block;
 font-size: 1.2rem;
}

.gnb-cont-mo > .gnb-mo > .gnb-bottom {
 display: block;
 margin: 2rem 0;
 background-color: #f6f6f6;
 font-size: 1.3rem;
}

.gnb-cont-mo > .gnb-mo > .gnb-bottom > ul > li > a {
 display: flex;
 justify-content: space-between;
}

.gnb-cont-mo > .gnb-mo > .gnb-bottom > ul > li > a {
 margin: 0 1rem;
 padding: 1rem 0;
}

main {
margin: 2rem 1rem;
background-color: #EFEFEF;
border-radius: 1rem;
padding: 30rem 0;
max-width: var(--container-size);
font-family: inherit;
text-align: center;
font-size: 1.5rem;
color: #BBB;
}

/* PC */
@media (min-width: 800px) {
 .pc-only {
  display: inline-block !important;
 }
 .mo-only {
  display: none !important;
 }

 .top-bar-cont > nav {
  display: flex;
  justify-content: space-between;
 }

 .check-mo {
  display: initial !important;
 }

 .container-page {
  padding: 0;
 }
 
 /* 탑 메뉴 */
.container-page > .top-bar > .top-bar-cont {
 padding: 8px;
 margin: 0 auto;
 color: #FFF;
 font-weight: bold;
 max-width: var(--container-size);
 display: flex;
 justify-content: space-between;
 width: 100%;
}

 .container-page > .top-bar > .top-bar-cont > nav > ul {
  display: flex;
  vertical-align: middle;
 }

 .container-page > .top-bar a.top-bar__list {
  color: #FFF;
 }

 .container-page > .top-bar > .top-bar-cont > nav > ul > li::after {
  content: "|" ;
  margin: 0 8px;
  color: #999;
 }
 
 .container-page > .top-bar > .top-bar-cont > nav > ul > li:last-child::after {
  content: "";
  margin: 0;
 }
 
 .container-page > .top-bar > .top-bar-cont > nav > ul > li {
  position: relative;
 }
 
 .container-page > .top-bar > .top-bar-cont > nav > ul > li > ul.top-bar__list__lang {
  background-color: #FFF;
  color: #333;
  position: absolute;
  left: -33px;
  top: 1.5rem;
  z-index: 5;
  color: #333;
  border-radius: 0.3rem;
  border: 1px solid #EBEBEB;
 }

 .top-bar__list__lang > li > a {
  color: #333;
  display: block;
  overflow: hidden;
  padding: 0.5rem 1rem;
 }
 
 .top-bar__list__lang > li:first-child > a {
  margin-top: 0.3rem;
 }
 .top-bar__list__lang > li:last-child > a {
  margin-bottom: 0.3rem;
 }
 
 .top-bar__list__lang > li > a:hover {
  background-color: #EBEBEB;
  text-decoration: none;
 }

 .top-bar__list__zoom-button {
  padding-left: 3px;
 }

 .top-bar button {
  color: white;
  vertical-align: middle;
  font-size: 0.9rem;
 }
 
 .top-bar__list__zoom-button > button:nth-child(1),
 .top-bar__list__zoom-button > button:nth-child(3) {
  width: var(--icon-size);
  height: var(--icon-size);
  background-image: url(../icons/page2-icons.png);
  background-size: var(--sprite-size);
  padding: 0;
  margin: 0;
  opacity: 50%;
 }
 
 .top-bar__list__zoom-button > button:nth-child(1) {
  background-position-x: calc((var(--icon-size)*-3));
  background-position-y: var(--icon-y--white);
 }
 
 .top-bar__list__zoom-button > button:nth-child(3) {
  background-position-x: calc((var(--icon-size)*-2));
  background-position-y: var(--icon-y--white);
 }

 .top-bar__list__zoom-button > button:nth-child(2) {
  padding: 0;
 }

  .container-page > .top-bar a.top-bar__list:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
 }
 
 .container-page > header > .header-cont {
  margin: auto;
  padding: 0 0.5rem 0 1.5rem;
  max-width: var(--container-size);
 }
 
 .gnb-pc-cont > .gnb-pc > ul {
  display: flex;
  gap: 20px;
 }
 
 .gnb-pc-cont > .gnb-pc > ul > li > button {
  padding: 2rem 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  border-bottom: 3px solid #FFF;
 }
 
 .gnb-pc-cont > .gnb-pc > ul > li > button:hover {
  font-weight: bolder;
 }
 
 .gnb-pc-cont > .gnb-pc > ul > li > button.active {
  font-weight: bolder;
  border-bottom: 3px solid #333;
 }
 
 div.gnb-menu__btn-group {
  order: 0;
 }
 
 div.gnb-menu__btn-group > button {
  font-size: 1.5rem;
  padding: 1rem;
 }
 
 .gnb-pc-cont > .gnb-pc > ul > li > .gnb-menu__open {
  position: absolute;
  right: 0;
  width: 100vw;
  height: auto;
  padding: 3rem 5rem;
  background-color: #FFF;
  display: flex;
  justify-content: center;
 }
 
 .gnb-pc-cont > .gnb-pc > ul > li > .gnb-menu__open > .gnb-menu__open__contents {
  max-width: var(--container-size);
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(200px, 20%) 1fr;
 }
 
 .gnb-pc-cont > .gnb-pc > ul > li > .gnb-menu__open > .gnb-menu__open__contents > .gnb-menu__open__intro {
  text-align: center;
  height: fit-content;
 }

  .gnb-pc-cont > .gnb-pc > ul > li > .gnb-menu__open > .gnb-menu__open__contents > .gnb-menu__open__intro > div {
  font-size: 5rem;
  padding: 1rem 0;
 }
 
 .gnb-pc-cont > .gnb-pc > ul > li > .gnb-menu__open > .gnb-menu__open__contents > .gnb-menu__open__intro > .gnb-menu__open__desc > dt {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
 }
 
 .gnb-pc-cont > .gnb-pc > ul > li > .gnb-menu__open > .gnb-menu__open__contents > .gnb-menu__open__intro > .gnb-menu__open__desc > dd {
  font-weight: lighter;
 }
 
 .gnb-pc-cont > .gnb-pc > ul > li > .gnb-menu__open > .gnb-menu__open__contents > .gnb-menu__2depth {
  padding-left: 5rem;
 }
 
 .gnb-pc-cont > .gnb-pc > ul > li > .gnb-menu__open > .gnb-menu__open__contents > .gnb-menu__2depth > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem 3rem;
 }
 
 .gnb-pc-cont > .gnb-pc > ul > li > .gnb-menu__open > .gnb-menu__open__contents > .gnb-menu__2depth > ul > li > .gnb-menu__2depth-title {
  text-align: left;
  padding: 1rem 0;
  width: 100%;
  font-weight: bold;
  font-size: 1.3rem;
  border-bottom: 1px solid #EBEBEB;
 }
 
 .gnb-pc-cont > .gnb-pc > ul > li > .gnb-menu__open > .gnb-menu__open__contents > .gnb-menu__2depth > ul > li > .gnb-menu__2depth-title.arrow-down-black::after {
  margin-left: 1rem;
 }
 
 .gnb-pc-cont > .gnb-pc > ul > li > .gnb-menu__open > .gnb-menu__open__contents > .gnb-menu__2depth > ul > li > .gnb-menu__2depth-desc {
  font-weight: lighter;
  font-size: small;
  padding: 1rem 0;
  color: #666;
  line-height: 1.5;
 }

 main {
  margin: 2rem auto;
 }
}